// add fonts here
// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');


@include font(MuseoSansCyrl, MuseoSansCyrl, 900, normal);
@include font(MuseoSansCyrl, MuseoSansCyrl_1, 300, normal);
@include font(MuseoSansCyrl, MuseoSansCyrl_3, 700, normal);
@include font(MuseoSansCyrl, MuseoSansCyrl_2, 500, normal);
@include font(MuseoSansCyrl, MuseoSansCyrl_0, 100, normal);