html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}
 
img,fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
  outline: none;
}

ul,ol {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

//start custom styling
body {
  font: {
    family: $ffamily;
    weight: normal;
    size: 12px;
  };
  line-height: 1.4;
}
a{
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5,h6{color:inherit;font-weight:normal;}
h1{font-size:24px;}
h2{font-size:22px;}
h3{font-size:20px;}
h4{font-size:18px;}
h5{font-size:16px;}
h6{font-size:14px;}

//buttons and inputs
video::-webkit-media-controls {
  display: none;
}

.button{
  @include button('');
  &:hover{
    @include button_gradient_hover('');
  }
}
.button-secondary{
  @include button-yellow(''); 
}
.button-orange{
  @include button-orange(''); 
}

input[type=text],
input[type=email],
input[type=tel],
input[type=search],
input[type=password],
input[type=date],
input[type=url],
textarea {
	@include input('');
	&:focus {
		@include input_focus('');
	}
	&.red_input {
		box-shadow: 0 0 2px #ff2d50;
		background: #fdc4ce;
	}
}
input::-webkit-input-placeholder {color: inherit;}
textarea::-webkit-input-placeholder {color: inherit;}
input:-moz-placeholder {color: inherit;}
textarea:-moz-placeholder {color: inherit;}
textarea{
  height: 90px;
  padding-top: 5px;
}
//end buttons inputs

.modal{
  display: none;
}

.clear {clear: both;height: 0;overflow: hidden;}
.float_left{float:left!important;}
.float_right{float:right!important;}
.float_none{float:none!important;}
.text_right{text-align:right!important;}
.text_center{text-align:center!important;}
.text_left{text-align:left!important;}
.absolute{position:absolute!important;}
.relative{position:relative!important;}
.fixed{position:fixed!important;}
.background_none{background:none!important;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.block{display:block;}
.hidden{display:none;}
.ovh{overflow: hidden;}

.button_main{
  background-color: #12a7c7;
  color: #fff;
  border-color: #12a7c7;
  &:hover{
    opacity: 0.9;
  }
}

//main containers
.wrapper{
@include povh('');
}

// .container{
// width:1100px;
// margin:0 auto;
// @include povh('');
// }