.advantage-top{
  height: auto;
  padding-bottom: 30px;
  &:before, &:after{
    display: none;
  }
  .about-page-top__img{
    float: right;
  }
  background: #f6f6f6;
  h1{
    &:after{
      display: none;
    }
  }
  p{
    font-size: 20px;
    @include mq($max-width: 992px) {
      font-size: 16px;
    }
  }
}
.advantage-top__video{
  border-radius:24px;
  .video__img:before{
    display:none;
  }
}
.advantage-content{
  padding-top:60px
}
.advantage-page__tags{
  padding: 42px 0 0px 0;
}
  .advantage-page__tag{
    margin-bottom: 35px;
    background: #fff;
    height: calc(100% - 140px);
    margin-top: 105px;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    figure{
      display: flex;
      top: -90px;
      position: relative;
      justify-content: flex-start;
      align-items: flex-end;
      color: #414141;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.26px;
      figcaption{
        position: relative;
        left: -20px;
        padding-bottom: 8px;
      }
      @include mq($max-width: 992px) {
        font-size: 20px;
      }
    }
    section{
      margin-top: -100px;
      padding: 18px;
      color: #414141;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      @include mq($max-width: 992px) {
        padding: 10px;
        font-size: 16px;
      }
    }
  }
.advantage-page__text{
  color: #383838;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  padding-bottom: 20px;
  @include mq($max-width: 992px) {
    font-size: 16px;
  }
  p{
    padding-bottom: 30px;
  }
  h2{
    color: #212020;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 2px;
    padding-bottom: 15px;
    @include mq($max-width: 992px) {
      font-size: 22px;
    }
  }
  h6{
    color: #212020;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 2px;
    padding-bottom: 15px;
    @include mq($max-width: 992px) {
      font-size: 18px;
    }
  }
  figure{
    padding-bottom: 30px;
  }
}
.advantage-page__list{
  &-item{
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 15px;
    figure{
      display: flex;
      color: #212020;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 1.5px;
      align-items: center;
      margin-bottom: 30px;
      @include mq($max-width: 992px) {
        font-size: 20px;
      }
      i{
        padding: 0 24px 0 0;
      }
    }
    ul{
      color: #000000;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 1px;
      @include mq($max-width: 992px) {
        font-size: 16px;
      }
      li{
        padding-left: 35px;
        position: relative;
        &:before{
          width: 22px;
          height: 22px;
          content: "\f00c";
          position: absolute;
          left: 0;
          top: 3px;
          border-radius: 2px;
          background: #fbcd04;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: flex;
          justify-content: center;
          align-items: center;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          font-weight: 900;
          font-family: "Font Awesome 5 Free";
          font-size: 10px;
          color: #fff;
        }
      }
    }
  }
}