.process-button {
	border-radius: 11px;
	padding: 23px 25px;
	margin-bottom: 40px;
	@include mq($max-width: 1200px) {
		font-size: 16px;
		padding: 18px 15px;
	}
}
.process-page-top {
	height: auto;
	background: none;
	padding: 60px 0;
	@include mq($max-width: 1200px) {
		padding-bottom: 0;
	}
	&:before, &:after {
		display: none;
	}
	h1{
		@include mq($max-width: 768px) {
			padding-top: 25px;
			font-size: 28px;
		}
	}
	h1:after {
		display: none;
	}
	p {
		color: #414141;
		line-height: 1.33;
		letter-spacing: 0.18px;
		padding-bottom: 30px;
	}
}
.process-page {
	color: #202020;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.67;
	letter-spacing: 0.9px;
	@include mq($max-width: 768px) {
		font-size: 16px;
	}
	h2 {
		font-size: 48px;
		font-weight: 500;
		line-height: 2.4;
		@include mq($max-width: 768px) {
			font-size: 22px;
		}
	}
	.title {
		font-size: 36px;
		font-weight: 500;
		text-align: inherit;
		padding-bottom: 30px;
		color: #202020;
		letter-spacing: 0.18px;
		@include mq($max-width: 768px) {
			font-size: 20px;
		}
	}
	.subtitle {
		padding-bottom: 0;
		text-align: inherit;
		font-size: 30px;
		font-weight: 300;
		line-height: normal;
		@include mq($max-width: 768px) {
			font-size: 18px;
		}
	}
}
.process-before {
	margin-bottom: 150px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.05);
	z-index: 2;
	line-height: 1.33;
	@include mq($max-width: 992px) {
		margin-bottom: 100px;
	}
	@include mq($max-width: 556px) {
		margin-bottom: 50px;
	}
	&:before {
		content: '';
		position: absolute;
		height: 234px;
		width: 234px;
		bottom: -65px;
		right: -56px;
		box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.05);
		border-radius: 5px;
		background-color: #fbcd04;
		z-index: 1;
		@include mq($max-width: 567px) {
			display: none;
		}
	}
	&__wrapper {
		padding: 60px 50px 70px;
		position: relative;
		z-index: 2;
		background-color: #fff;
		@include mq($max-width: 567px) {
			padding: 0;
		}
		&:before {
			content: '';
			position: absolute;
			top: 20px;
			bottom: 26px;
			left: 22px;
			background-color: #f5f5f5;
			width: 10%;
			z-index: 3;
			@include mq($max-width: 567px) {
				display: none;
			}
		}
	}
	&__content {
		position: relative;
		padding: 20px 20px 30px;
		background-color: #fff;
		z-index: 3;
	}
}
.process-steps {
	position: relative;
	&__description {
		padding-bottom: 42px;
		line-height: 1.33;
	}
	&__item {
		padding: 42px 32px;
		padding-right: 70px;
		position: relative;
		&:last-child {
			padding-bottom: 83px;
			@include mq($max-width: 768px) {
				padding-bottom: 32px;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: #f5f5f5;
			z-index: -1;
		}
		@include mq($max-width: 768px) {
			padding-right: 32px;
		}
		.process-line {
			@include mq($max-width: 768px) {
				display: none;
			}
			&:before {
				position: absolute;
				top: 50px;
				left: calc(50% - 3px);
				width: 6px;
				height: 110%;
				background: #fbcd04;
				bottom: 0;
				content: '';
				@include mq($max-width: 768px) {
					display: none;
				}
			}
		}
		&:last-child .process-line:before {
			height: 120%;
		}
		.title {
			padding-bottom: 0;
			line-height: normal;
		}
	}
	&__item-content {
		margin-top: 49px;
		padding: 35px;
		padding-bottom: 0;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.05);
		@include mq($max-width: 768px) {
			margin-top: 35px;
		}
		p {
			padding-bottom: 35px;
		}
		ul {
			padding: 16px 68px 30px;
			line-height: 1.33;
			@include mq($max-width: 992px) {
				padding: 25px 0;
				padding-left: 40px;
			}
			li {
				padding-bottom: 24px;
				position: relative;
				&:after {
					position: absolute;
					content: '';
					display: block;
					width: 18px;
					height: 18px;
					left: -36px;
					top: 3px;
					background-color: #fbcd04;
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
		.phase-row {
			padding-left: 32px;
			padding-bottom: 20px;
			p {
				padding: 16px 0;
			}
		}
	}
}
.process-fit {
	padding-bottom: 156px;
	@include mq($max-width: 992px) {
		padding-bottom: 0px;
	}
	img {
		margin-left: -48px;
		width: 107%;
		@include mq($max-width: 992px) {
			margin: 0 auto;
			display: block;
		}
	}
	p {
		padding-bottom: 70px;
		@include mq($max-width: 992px) {
			padding-bottom: 30px;
		}
	}
	big {
		font-size: 48px;
		@include mq($max-width: 992px) {
			font-size: 28px;
		}
	}
}
.process-follow {
	background-color: #fbfbfb;
	&__content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__img {
		margin-top: -63px;
		display: block;
		@include mq($max-width: 768px) {
			margin: 0 auto;
		}
	}
}
.process-conclusion {
	padding-top: 40px;
	padding-bottom: 55px;
	p {
		padding-bottom: 30px;
	}
}