.career-page-content{
  background: url(../img/about-bg-big.png) no-repeat bottom -750px left -500px, url(../img/bg-about.png) repeat;
}
.career-page-timeline{
  padding: 90px 0 80px 0;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.9px;
  position: relative;
  &:before{
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		width: 9px;
		height: 50%;
		background: #fbcd04;
		top: 0;
		content: '';
	}
  a{
    text-decoration: none;
  }
  .container{
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-top: 9px solid #fbcd04;
    position: relative;
    z-index: 3;
  }
  section{
    height: 100%;
    box-sizing: border-box;
    padding: 25px 20px;
    border-left: 1px solid #f7f7f7;
    @include transition(all 0.5s);
    &:hover{
      background: #f7f7f7;
    }
    h5, h6{
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-bottom: 35px;
      text-align: center;
    }
    @include mq($max-width: 992px) {
      border: none;
    }
  }
  .col-lg-3{
    &:first-child{
      section{
        border-left: none;
      }
    }
  }
}
.career-page-perks{
  padding-bottom: 60px;
  &__item{
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      padding: 45px 25px;
      color: #272727;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.1;
      height: 100%;
      figure{
        min-width: 75px;
        padding-top: 8px;
      }
      h6{
        padding-bottom: 10px;
        margin-bottom: 0;
        color: #272727;
        font-size: 20px;
        font-weight: 500;
      }
  }
}
.career-page-interest{
  padding-bottom: 120px;
  &__item{
    position: relative;
    padding-left: 50px;
    padding-bottom: 25px;
    height: 100%;
    &:hover{
      article{
        background: #f7f7f7;
      }
    }
  }
  article{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    position: relative;
    padding: 25px 20px 25px 50px;
    color: #272727;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    height: 100%;
    min-height: 185px;
    @include transition(all 0.5s);
    h6{
      padding-bottom: 22px;
      color: #272727;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1px;
      a{
        text-decoration: none;
      }
    }
  }
  figure{
    border-radius: 50%;
    background: #facc04;
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 5;
    img{
      display: block;
    }
    @include mq($max-width: 992px) {
      top: 20px;
    }
  }
}
.career-page-contact{
  color: #0f0f0f;
  font-size: 24px;
  font-weight: 300;
  figure{
    img{
      width: 100%;
    }
  }
  p{
    padding-bottom: 40px;
  }
  .about-page-content__title{
    font-size: 30px;
    text-align: left;
    padding-bottom: 40px;
    @include mq($max-width: 992px) {
      text-align: center;
      padding-top: 30px;
    }
  }
  .button{
    color: #242424;
    min-width: 240px;
  }
  @include mq($max-width: 992px) {
    text-align: center;
    padding-bottom: 50px;
  }
}
.career-modal{
  width: 570px;
  @include mq($max-width: 992px) {
    padding: 20px;
  }
  h3{
    text-align: center;
    color: #343434;
    padding-bottom: 30px;
    font-size: 24px;
  }
  &__form-item{
    padding-bottom:20px;
    label{
      display: block;
      font-size: 14px;
      padding-bottom: 10px;
      color: #323232;
    }
    sup{
      color: red;
    }
    small{
      font-size: 0.8em;
      color: #545454;
      i{
        color: #d6d6d6;
        padding: 0 5px 0 0;
      }
    }
    input:not(.button), select{
      background: #f1f8ff;
      border-radius: 2px;
      border: none;
      width: 100%;
      height: 45px;
      box-shadow: 0 0 5px #e9eaec;
    }
    .button{
      border-radius: 0;
      width: 320px;
      max-width: 80%;
    }
  }
}


.career-lead-form{
  position: relative;
  padding: 100px 0 100px 0;
  color: #414141;
  font-size: 18px;
  font-weight: 300;
  background: #f6f6f6;
  .container{
    position: relative;
    &:before{
      content: url(../img/career-form-ico.png);
      position: absolute;
      right: -118px;
      top: 22px;
    }
  }
  @include mq($max-width: 767px) {
    padding: 50px 0;
  }
  p{
    padding-bottom: 20px;
  }
  h1{
    color: #2e3949;
    font-size: 42px;
    font-weight: 900;
    padding-bottom: 50px;
    padding-top: 20px;
    @include mq($max-width: 767px) {
      padding-bottom: 20px;
      padding-top: 0;
      font-size: 24px;
    }
  }
  .title{
    text-align: left;
    padding-bottom: 28px;
    font-size: 30px;
    @include mq($max-width: 767px) {
      padding-bottom: 20px;
      font-size: 20px;
    }
  }
  figure{
    text-align: center;
    padding-bottom: 30px;
  }
  &__section{
    background: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
     // border: 1px solid rgba(211, 235, 255, 0.5);
  }
  &__title{
    color: #373737;
    font-size: 30px;
    font-weight: 700;
    background: #fbcd04;
    text-align: center;
    padding: 25px;
    @include mq($max-width: 767px) {
      font-size: 16px;
      padding: 15px;
    }
  }
  &__box{
    padding: 20px 25px;
  }
  &__checkbox{
    position: relative;
    color: #373737;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      &:checked + span:before{
        content: "\f00c";
      }
    }
    span{
      padding: 0 0 0 35px;
      display: block;
      &:before{
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 3px;
        border: 1px solid rgba(0, 0, 0, 0.38);
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.38);
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #fbcd04;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
      }
    }
  }
  &__item{
    padding-bottom: 22px;
    input:not(.button), select, textarea{
      height: 55px;
      width: 100%;
      border-radius: 2px;
      border: none;
      color: #373737;
      font-size: 16px;
      font-weight: 500;
      background: #fff;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.38), 0 0 5px rgba(157, 206, 255, 0.75);
    }
    textarea{
      height: 110px;
    }
    label{
      display: block;
      color: #373737;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 7px;
      sup{
        color: #cd0000;
      }
    }
    small{
      display: block;
      color: #525252;
      font-size: 14px;
      font-weight: 300;
      padding-top: 15px;
      i{
        opacity: 0.4;
        padding: 0 8px 0 0;
      }
    }
    .button{
      width: 340px;
      max-width: 100%;
      color: #2e2e2e;
    }
  }
}