.customer-top{
  height: auto;
  margin-bottom: 60px;
  background: #fff linear-gradient(to right, #ffffff 62%,#facb0f 62%);
  &:before{
    display: none;
  }
  &:after{
    display: none;
  }
  h1{
    &:after{
      display: none;
    }
  }
  h2{
    color: #2b2b2b;
    font-size: 48px;
    font-weight: 700;
    padding: 75px 0;
    @include mq($max-width: 767px) {
      padding: 25px 0;
      font-size: 24px;
    }
  }
  .button{
    min-width: 240px;
  }
  @include mq($max-width: 992px) {
    padding-bottom: 50px;
  }
  &.customer-top-left{
    background: #fff linear-gradient(to right, #facb0f 50%,#ffffff 50%);
  }
  &__arrow{
    display: block;
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 700;
    i{
      padding-right: 30px;
    }
  }
  &__img{
    
  }
}
.costumer-page{
  position: relative;
  background-color: #fff;
  &__content{
    padding: 60px 0;
    color: #212020;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    p{
      padding-bottom: 20px;
    }
    &.gray{
      background: #f8fbfc;
      padding-bottom: 170px;
    }
  }
  h2{
    color: #2b2b2b;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.36px;
    padding-bottom: 35px;
    @include mq($max-width: 992px) {
      padding-bottom: 20px;
      font-size: 24px;
      line-height: 1.3;
      br{
        display: none;
      }
    }
  }
  h5{
    color: #2b2b2b;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    padding-bottom: 40px;
    @include mq($max-width: 767px) {
      font-size: 22px;
    }
  }
  &__slick{
    img{
      width: 100%;
      display: block;
      border-radius: 6px;
    }
    .slick-arrow{
      position: absolute;
      width: 32px;
      height: 22px;
      left: -80px;
      top: calc(50% - 11px);
      background: none;
      //display: none !important;
      @include hide-text;
      &:before{
        content: url(../img/Arrow_Left-black.png);
      }
      &.slick-next{
        left: auto;
        right: -80px;
        transform: scale(-1);
      }
      @include mq($max-width: 992px) {
        display: none;
      }
    }
    .slick-dots{
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 100%;
      text-align: center;
      li{
        display: inline-block;
        button{
          background-color: #212020;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: inline-block;
          margin: 0 7px;
          @include hide-text;
          border: none;
        }
        &.slick-active{
          button{
            background: #fbcd04;
          }
        }
      }
    }
  }
  &__business{
    box-shadow: 0 20px 50px rgba(1, 1, 1, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 50px 60px;
    color: #383838;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    @include mq($max-width: 767px) {
      padding: 20px 15px;
      font-size: 18px;
      line-height: 1.3;
    }
    p{
      padding-bottom: 25px;
    }
    a{
      text-decoration: none;
      color: #2b2b2b;
      font-size: 20px;
      font-weight: 500;
      &:hover{
        text-decoration: underline;
      }
      @include mq($max-width: 767px) {
        font-size: 16px;
      }
    }
    article{
      padding-top: 40px;
      margin-top: 40px;
      border-top: 1px solid #e6e6e6;
    }
    .col-sm-6{
      a{
        display: block;
        img{
          float: right;
          max-width: 150px;
          max-height: 90px;
          @include mq($max-width: 575px) {
            float: none;
            display: block;
            margin-top: 15px;
          }
        }
      }
    }
    h6{
      color: #212020;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.2;
      height: 100%;
      display: flex;
      min-height: 50px;
      align-items: center;
      text-transform: uppercase;
      padding-left: 22px;
      border-left: 8px solid #facb0f;
    }
  }
  &__img{
    text-align: right;
    padding: 71px 0 120px 0;
    .video__img:before{
      display: none;
    }
    .video__img{
      display: block;
    }
    @include mq($min-width: 992px) {
      img{
        max-width: 745px;
        display: block;
      }
    }
    @include mq($max-width: 992px) {
      float: none;
      text-align: center;
      padding-bottom: 40px;
      padding-top: 20px;
    }
    position: relative;
    &:before{
      content: '';
      width: 790px;
      height: 790px;
      position: absolute;
      right: 0;
      top: 0;
      background: url(../img/Bg_element_yellow.png) no-repeat center;
      background-size: contain;
    }
    figure{
      background-color: #2b2b2b;
      border-radius: 5px;
      float: right;
      overflow: hidden;
      position: relative;
      z-index: 2;
      @include mq($max-width: 992px) {
        margin-bottom: 20px;
        float: none;
      }
      img{
        display: block;
        opacity: 0.6;
      }
    }
  }
  &__video{
    padding: 100px;
    background: #f8fbfc;
    img{
      width: 100%;
    }
    p{
      padding-bottom: 12px;
    }
    @include mq($max-width: 992px) {
      padding: 20px;
    }
    .col-lg-8 {
      @include mq($max-width: 992px) {
        margin-bottom: 15px;
      }
    }
  }
  &__img-learn{
    img{
      float: right;
      @include mq($max-width: 992px) {
        float: none;
        display: block;
        margin-bottom: 15px;
      }
    }
  }
  &__slider{
      color: #383838;
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
    img{
      margin: 0 auto;
      margin-bottom: 30px;
    }
    h5{
      color: #383838;
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;
      padding-bottom: 15px;
    }
    p{
      padding-bottom: 50px;
    }
  }
  &__slider{
    box-shadow: 0 20px 50px rgba(1, 1, 1, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 1038px;
    box-sizing: border-box;
    padding: 40px 100px 100px 100px;
    margin-top: 30px;
    @include mq($max-width: 992px) {
      padding: 20px;
    }
    .slick-arrow{
      position: absolute;
      width: 32px;
      height: 22px;
      left: -80px;
      top: calc(50% - 11px);
      background: none;
      @include hide-text;
      &:before{
        content: url(../img/Arrow_Left-black.png);
      }
      &.slick-next{
        left: auto;
        right: -80px;
        transform: scale(-1);
      }
      @include mq($max-width: 992px) {
        display: none;
      }
    }
    .slick-dots{
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 100%;
      li{
        display: inline-block;
        button{
          background-color: #212020;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: inline-block;
          margin: 0 7px;
          @include hide-text;
          border: none;
        }
        &.slick-active{
          button{
            background: #fbcd04;
          }
        }
      }
    }
  }
  &__bread{
    color: #212020;
    font-size: 14px;
    font-weight: 300;
    line-height: 44px;
    
    letter-spacing: 0.7px;
    li{
      display: inline-block;
      &.active{
        color: #737373;
      }
    }
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__qoute{
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    strong{
      display: block;
      padding-top: 30px;
    }
    small{
      font-weight: 300;
      font-size: 20px;
    }
    hr{
      width: 130px;
      display: block;
      margin: 0 auto;
      border: none;
      border-top: 3px solid #000;
    }
  }
  &__sidebar{
    
    margin-left: 30px;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.16px;
    position: relative;
    z-index: 2;
    @include mq($max-width: 767px) {
      margin-left: 0;
    }
    .row{
      padding-bottom: 30px;
    }
    figure{
      padding-bottom: 30px;
    }
    &:before{
      content: '';
      position: absolute;
      bottom: -30px;
      left: -30px;
      width: 170px;
      height: 230px;
      border-radius: 5px;
      z-index: 1;
      background-color: #facb0f;
    }
  }
  &__sidebar-inner{
    border-radius: 5px;
    background-color: #f8fbfc;
    padding: 50px 40px;
    position: relative;
    z-index: 2;
    @include mq($max-width: 767px) {
      padding: 20px 15px;
    }
  }
  &__view-list_section{
    box-shadow: 0 20px 50px rgba(1, 1, 1, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 60px;
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    li{
      padding-bottom: 18px;
      padding-left: 50px;
      position: relative;
      &:before{
        content: url(../img/Check_icon.png);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    @include mq($max-width: 767px) {
      padding: 15px;
    }
  }
  &__view-list{
    padding: 60px 0;
    position: relative;
    @include mq($max-width: 992px) {
      padding: 10px 0;
    }
    &:before{
      width: 370px;
      height: 430px;
      border-radius: 5px;
      background-color: #fbcd04;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include mq($max-width: 992px) {
        display: none;
      }
    }
    &:after{
      width: 270px;
      height: 240px;
      border-radius: 5px;
      background-color: #f7f7f7;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
    }
    article{
      position: relative;
      z-index: 2;
    }
  }
  &__carousel{
    color: #383838;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
    position: relative;
    @include mq($max-width: 1200px) {
      font-size: 16px;
    }
    .slick-arrow{
      position: absolute;
      top: 50%;
      border: none;
      left: -20px;
      @include hide-text;
      width: 32px;
      height: 32px;
      margin-top: -26px;
      z-index: 30;
      background: url(../img/Arrow_Left-black.png) no-repeat center;
      background-size: contain;
      @include mq($max-width: 767px) {
        left: -5px;
      }
      &.slick-next{
        left: auto;
        right: -20px;
        @include mirror_flip;
        @include mq($max-width: 767px) {
          right: -5px;
        }
      }
      
    }
    a{
      text-decoration: none;
    }
    section{
      box-shadow: 0 20px 50px rgba(1, 1, 1, 0.05);
      border-radius: 10px;
      background-color: #ffffff;
      padding: 30px 25px 30px 160px;
      @include mq($max-width: 430px) {

        padding: 15px
      }
      
    }
    figure{
      max-width: 30px;
      min-width: 30px;
      position: relative;
      z-index: 2;
      figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 170px;
        border-radius: 5px;
        background-color: #f7f7f7;
        height: 100px;
        @include mq($max-width: 430px) {
          margin: 0 auto;
        }
        img{
          max-width: 80%;
          margin: 0 auto;
        }
        a{
          display: block;
        }
      }
      @include mq($max-width: 430px) {
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
  &__carousel-item{
    display: flex !important;
    align-items: center;
    padding: 30px 30px 50px 30px;
    text-align: left;
    @include mq($max-width: 430px) {
      flex-direction: column;
      text-align: center;
    }
  }
}
.costumer-page__button{
  width: 315px;
  max-width: 100%;
  border-radius: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  i{
    padding: 0 19px  0 0;
  }
  @include mq($max-width: 992px) {
    height: 60px;
    border-radius: 20px;
  }
}
.customer-top__img{
  img{
    float: right;
    max-width: 100%;
  }
  @include mq($max-width: 992px) {
    padding-bottom: 20px;
    img{
      float: none;
    }
  }
}
.customer-top-left{
  padding-bottom: 100px;
  padding-top: 60px;
}
