.features-page-hero {
	position: relative;
	background-color: #e7f7ff;
	background-image: url(../img/features-hero-bg.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	&:before {
		position: absolute;
		content: '';
		top: -61px;
		bottom: -45px;
		right: 0;
		width: 100%;
		background: url(../img/features-body-bg.png) no-repeat;
		background-position: bottom right -15px;
		background-size: contain;

		@include mq($max-width: 1199px) {
			display: none;
		}
	}
	@include mq($max-width: 1100px) {
		padding: 40px 0;
	}
	@include mq($max-width: 991px) {
		text-align: center;
	}
	h1 {
		padding-bottom: 45px;
		font-size: 44px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.44px;
		color: #1d1c1c;
		@include mq($max-width: 767px) {
			font-size: 30px;
		}
	}
	p {
		font-size: 22px;
		font-weight: 300;
		line-height: 1.64;
		letter-spacing: 0.22px;
		color: #262626
	}
	img {
		max-width: 54vw;
		margin-bottom: -3%;
		@include mq($max-width: 991px) {
			padding-bottom: 50px;
			max-width: 100%;
		}
	}
}

.features-page-text {
	padding-top: 125px;
	padding-bottom: 40px;
	@include mq($max-width: 991px) {
		padding-top: 70px;
	}
	h2 {
		padding-bottom: 30px;
		font-size: 42px;
		font-weight: 500;
		letter-spacing: 2.1px;
		color: #353535;
		@include mq($max-width: 767px) {
			font-size: 30px;
		}
	}
	p {
		padding-bottom: 30px;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.33;
		letter-spacing: 0.9px;
		color: #353535;
	}
}

.features-page-grid {
	padding: 0 90px;
	@include mq($max-width: 991px) {
		padding: 0;
		text-align: center;
	}

	&__row {
		margin-bottom: 28px;
		position: relative;
		@include mq($max-width: 991px) {
			padding-top: 30px;
			padding-bottom: 30px;
			margin-bottom: 0;
			&:nth-child(odd) {
				background-color: #f1f7ff;
			}
		}
		@include mq($min-width: 992px) {
			&:nth-child(odd) {
				.cell-background:first-child {
					background-color: #f1f7ff;
					border-radius: 7px;
					background-image: url(../img/features-content-bg.png);
					background-repeat: no-repeat;
					background-position: 19% 69%;
				}
				.features-page-grid__content-img {
					padding-right: 30px;
				}
			}
			&:nth-child(even) {
				.cell-background:last-child {
					background-color: #f1f7ff;
					border-radius: 7px;
					background-image: url(../img/features-content-bg.png);
					background-repeat: no-repeat;
					background-position: 78% 69%;
				}
				.features-page-grid__content-img {
					padding-left: 30px;
				}
			}
		}
	}
	&__cells {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		@include mq($max-width: 991px) {
			display: none;
		}
	}
	&__content {
		.row-content-height {
			min-height: 480px;
			height: 100%;
		}
		h3 {
			padding-bottom: 30px;
			margin-bottom: 18px;
			position: relative;
			font-size: 36px;
			line-height: normal;
			font-weight: 300;
			letter-spacing: 1.8px;
			color: #222222;
			&:before {
				position: absolute;
				content: '';
				height: 3px;
				left: 0;
				bottom: 0;
				max-width: 230px;
				width: 100%;
				background-image: linear-gradient(to right, #508cf9, #45bfec);
				@include mq($max-width: 991px) {
					left: 50%;
					transform: translateX(-50%);
				}
			}
			@include mq($max-width: 767px) {
				font-size: 26px;
				padding-bottom: 15px;
			}
		}
		p {
			padding-bottom: 30px;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.67;
			letter-spacing: 0.9px;
			color: #3d3d3d;
			a {
				color: #007bff;
				text-decoration: none;
			}
			a:hover {
				opacity: 0.85;
			}
		}
		.button {
			border: solid 2px #ffb800;
			background-color: #ffffff;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 0.36px;
			color: #ffb800;
			box-shadow: none;
			&:hover {
				border-color: #508cf9;
				color: #508cf9;
			}
		}

	}
	&__content-img {
		padding-top: 20px;
		padding-bottom: 20px;
		img:not(.feature-guarantee__img) {
			display: block;
			width: 100%;
			max-width: 535px;
			box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}
	}
	&__content-text {
		padding: 8px;
	}
}

// Feature Single Page
.feature-bg {
	background-position: top center;
	background-repeat: no-repeat;
	@include mq($max-width: 991px) {
		background-image: none !important;
	}
}

.feature-hero {
	margin-bottom: 45px;
	min-height: 625px;
	display: flex;
	color: #fff;
	@include mq($max-width: 991px) {
		color: #3d3d3d;
		text-align: center;
	}
	h1 {
		padding-top: 105px;
		padding-bottom: 30px;
		font-size: 44px;
		font-weight: bold;
		line-height: normal;
		letter-spacing: 0.44px;
		max-width: 500px;
		@include mq($max-width: 1199px) {
			padding-top: 80px;
		}
		@include mq($max-width: 991px) {
			padding-top: 50px !important;
			max-width: unset;
		}
		@include mq($max-width: 767px) {
			font-size: 32px;
		}
	}
	p {
		font-size: 22px;
		font-weight: 300;
		line-height: 1.64;
		max-width: 500px;
		@include mq($max-width: 1199px) {
			max-width: 400px;
		}
		@include mq($max-width: 991px) {
			max-width: unset;
		}
	}
	img {
		@include mq($min-width: 992px) {
			max-width: 40vw;
		}
	}
}

.feature-guarantee {
	position: relative;
	@include mq($max-width: 991px) {
		padding-left: 30px;
	}
	&__img {
		width: 27%;
		position: absolute;
		top: 14%;
		left: -2px;
	}
}

.feature-bottom {
	padding-top: 35px;
	.button {
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		max-width: 345px;
		box-shadow: 0px 2px 0 0 rgba(27, 27, 27, 0.5);
		letter-spacing: 0.45px;
		margin-bottom: 50px;
	}
}

// POS page
.feature-pos-grid {
	@include mq($max-width: 1199px) {
		padding: 0;
		text-align: center;
	}
	.container {
		@include mq($min-width: 1200px) {
			max-width: none;
		}
	}
	.features-page-grid__content-img {
		padding: 30px;
		& img:not(.feature-guarantee__img) {
			max-width: 665px;
		}
	}
	.features-page-grid__row {
		&:nth-child(even) .features-page-grid__content {
			@include mq($min-width: 1200px) {
				padding-left: calc((100vw - 1110px - 197px) / 2);
			}
		}
		&:nth-child(odd) .features-page-grid__content {
			@include mq($min-width: 1200px) {
				padding-right: calc((100vw - 1110px - 197px) / 2);
			}
		}
		@include mq($max-width: 1199px) {
			padding-top: 30px;
			padding-bottom: 30px;
			&:nth-child(odd) {
				background-color: #f1f7ff;
			}
		}
		@include mq($max-width: 1199px) {
			.cell-background:last-child {
				background: transparent;
				border-radius: 0px;
			}
			.cell-background:first-child {
				background: transparent;
			}
		}
		@include mq($min-width: 1200px) {
			.cell-background:last-child {
				background: #fff;
				border-radius: 0px;
			}
			.cell-background:first-child {
				background-color: #f1f7ff !important;
				border-radius: 7px;
				background-image: none;
			}
		}
	}
	.features-page-grid__cells {
		position: static;
		@include mq($max-width: 991px) {
			display: block;
		}
	}
	.features-page-grid__content-text h3:before {
		@include mq($max-width: 1199px) {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

// Feature Single Sub Page
.feature-subpage {
	.main {
		padding-bottom: 65px;
	}
}

.feature-subpage-hero {
	margin-bottom: 50px;
	min-height: 620px;
	position: relative;
	background-color: #e7f7ff;
	&:before {
		position: absolute;
		content: '';
		top: -61px;
		bottom: 0px;
		right: 0;
		width: 100%;
		background-size: contain;
		background: url(../img/feature-subpage-hero-bg.png) no-repeat;
		background-position: 50vw 100%;
		@include mq($max-width: 991px) {
			display: none;
		}
	}
	@include mq($max-width: 991px) {
		margin-bottom: 0px;
		text-align: center;
	}
	h1 {
		padding-top: 40px;
		padding-bottom: 30px;
		font-size: 44px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.44px;
		color: #1d1c1c;
		@include mq($max-width: 767px) {
			font-size: 30px;
		}
	}
	p {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.4;
		letter-spacing: 0.2px;
		color: #3c3c3c;
		&:last-child {
			padding-bottom: 30px;
		}
	}
	&__img img {
		max-width: 40vw;
		@include mq($max-width: 991px) {
			max-width: 100%;
		}
	}
}

.feature-subpage-box {
	padding-top: 30px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.67;
	letter-spacing: 0.9px;
	color: #3d3d3d;
	h2 {
		margin-bottom: 50px;
		padding-top: 20px;
		padding-bottom: 30px;
		position: relative;
		font-size: 36px;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 1.8px;
		color: #222222;
		@include mq($max-width: 991px) {
			font-size: 30px;
			padding-top: 0px;
			margin-bottom: 30px;
		}
		&:before {
			position: absolute;
			content: '';
			height: 3px;
			left: 0;
			bottom: 0;
			max-width: 230px;
			width: 100%;
			background-image: linear-gradient(to right, #508cf9, #45bfec);
			// @include mq($max-width: 767px) {
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// }
		}
		&.text_center:before {
			left: 50%;
			transform: translateX(-50%);

		}
	}
	&.text_center {
		h2:before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__img img {
		max-width: 100%;
		display: block;
		@include mq($max-width: 991px) {
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 20px;
		}
	}
	dl {
		margin-bottom: 35px;
		padding-left: 100px;
		position: relative;
		color: #2d2d2d;
		@include mq($max-width: 767px) {
			padding-left: 50px;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			content: '';
			width: 80px;
			height: 80px;
			background-color: #007bff;
			border: 11px solid #deeeff;
			border-radius: 50%;
			@include mq($max-width: 767px) {
				width: 40px;
				height: 40px;
				border-width: 6px;
			}
		}
		dt {
			display: inline;
			font-weight: bold;
		}
		dd {
			display: inline;
		}
	}
	strong {
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 1.1px;
	}
}
.feature-subpage-img__align-left {
	float: left;
	padding-right: 20px;
	padding-bottom: 30px;
	@include mq($max-width: 991px) {
		margin-left: auto;
		margin-right: auto;
		float: none;
		padding: 0 0 30px;
		display: block;
	}
}
.feature-subpage-img__align-right {
	float: right;
	padding-left: 20px;
	padding-bottom: 30px;
	@include mq($max-width: 991px) {
		margin-left: auto;
		margin-right: auto;
		float: none;
		padding: 0 0 30px;
		display: block;
	}
}

.feature-subpage-list {
	padding-top: 15px;
	padding-bottom: 15px;
	li {
		margin-bottom: 7px;
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 0.9px;
		color: #3d3d3d;
		&:before {
			margin-right: 15px;
			display: block;
			content: '';
			width: 39px;
			height: 39px;
			flex-shrink: 0;
			background-color: #007bff;
			border: 5px solid #deeeff;
			border-radius: 50%;
		}
	}
}

.feature-subpage-card {
	margin-bottom: 26px;
	padding: 15px 20px 20px;
	position: relative;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	border-radius: 5px;
	&__number {
		position: absolute;
		top: 0px;
		right: 0px;
		font-size: 100px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 5px;
		color: rgba(234, 240, 245, 0.5);
	}
	&__top {
		padding-bottom: 10px;
		display: flex;
		align-items: center;
	}
	h3 {
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 1.2px;
		color: #2d2c2c;
	}
	p {
		font-size: 18px;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: 0.9px;
		color: #3d3d3d;
	}
	&__top-icon {
		margin-right: 5px;
		height: 80px;
		width: 80px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		img {
			max-width: 100%;
		}
	}
	&__icon {
		margin-bottom: 10px;
		height: 80px;
		width: 80px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}
	&__content {
		padding-left: 20px;
	}
	&.grid-card {
		padding-top: 23px;
		padding-bottom: 25px;
		width: 100%;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		p {
			font-size: 16px;
			font-weight: 100;
			line-height: 1.5;
			letter-spacing: 0.8px;
			color: #1c1c1c;
		}
	}
	h4 {
		padding-bottom: 20px;
		font-size: 18px;
		line-height: normal;
		font-weight: 500;
		letter-spacing: 0.9px;
		color: #252525;
	}
	&.grid-card__small {
		padding-top: 18px;
		padding-bottom: 18px;
		display: flex;
		align-items: center;
		.feature-subpage-card__icon {
			margin-right: 20px;
			margin-bottom: 0;
		}
		h4 {
			flex: 1;
			padding: 0;
		}
	}
	&__simple {
		display: flex;
		@include mq($max-width: 767px) {
			display: block;
			text-align: center;
		}
		.feature-subpage-card__top-icon {
			margin-top: 5px;
			width: 100px;
			height: 100px;
			align-items: center;
			justify-content: center;
			@include mq($max-width: 767px) {
				margin: 5px auto 20px;
			}
		}
	}
}

.feature-subpage-conclusion {
	margin-top: 80px;
	padding-top: 0;
	line-height: normal;
	color: #484848;
	@include mq($max-width: 991px) {
		margin-top: 50px;
	}
	&__wrap {
		padding: 40px 35px 35px;
		box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		border-radius: 8px;
		@include mq($max-width: 991px) {
			text-align: center;
		}
		@include mq($max-width: 767px) {
			padding: 25px 15px 20px;
		}
	}
	h2 {
		margin-bottom: 20px;
		padding-top: 0;
		padding-bottom: 20px;
		font-weight: bold;
		&:before {
			max-width: 95px;
			@include mq($max-width: 991px) {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	img {
		@include mq($max-width: 991px) {
			width: 70px;
		}
	}
	.blue-bg {
		background-color: #f1f8ff;
	}
}

.feature-subpage-step {
	padding: 30px 0;
	@include mq($max-width: 991px) {
		padding: 15px 0;
	}
	&__top {
		display: flex;
		align-items: center;
		span {
			margin-right: 25px;
			font-size: 100px;
			font-weight: bold;
			line-height: 1;
			color: rgba(234, 240, 245, 0.5);
		}
		h3 {
			padding-bottom: 0;
			font-size: 24px;
			font-weight: bold;
			letter-spacing: 1.2px;
			color: #2d2c2c;
			line-height: 1;
		}
	}
	.shift-left {
		margin-left: -25%;
		@include mq($max-width: 1600px) {
			margin: auto;
			max-width: 500px;
			width: 100%;
		}
	}
	.shift-right {
		margin-right: -25%;
		@include mq($max-width: 1600px) {
			margin: auto;
			max-width: 500px;
			width: 100%;
		}
	}
}
.feature-subpage-benefit {

	&__wrap {
		padding: 20px;
		box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
		border-radius: 7px;
		background: #fff;
	}
	&__item {
		margin-bottom: 60px;
		@include mq($max-width: 991px) {
			margin-bottom: 40px;
		}
		h3 {
			margin-bottom: 25px;
			position: relative;
			display: block;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 1px;
			color: #2b78d1;
			&:before {
				content: '';
				position: absolute;
				top: 14px;
				display: block;
				height: 3px;
				width: 85px;
				background-image: linear-gradient(to left, #45bfec, #508cf9);
			}
		}
		&:nth-child(odd) h3:before {
			left: -96px;
			@include mq($max-width: 991px) {
				left: 0;
				top: auto;
				bottom: -10px;
			}
		}
		&:nth-child(even) h3:before {
			right: -96px;
			@include mq($max-width: 991px) {
				left: 0;
				top: auto;
				bottom: -10px;
			}
		}
	}
}

.feature-booking-engine__list {
	padding: 20px 0;
	margin-left: 15px;
	li {
		align-items: flex-start;
		margin-bottom: 12px;
		&:before {
			width: 34px;
			height: 34px;
			border-width: 4px;
		}
	}
}
.feature-subpage-list__small {
	li {
		align-items: flex-start;
		margin-bottom: 5px;
		&:before {
			width: 25px;
			height: 25px;
			border-width: 4px;
		}
	}
}
.feature-payment__list {
	margin-top: -10px;
	padding: 0;
}
.feature-subpage-communication {
	&__item {
		padding: 20px 0px;

	}
	h3 {
		margin-bottom: 30px;
		font-size: 30px;
		font-weight: 500;
		letter-spacing: 1.5px;
		color: #222222;
		display: flex;
		align-items: center;
		&:before {
			margin-right: 25px;
			content: '';
			display: block;
			content: '';
			width: 80px;
			height: 80px;
			flex-shrink: 0;
			background-color: #007bff;
			border: 11px solid #deeeff;
			border-radius: 50%;
			@include mq($max-width: 767px) {
				margin-right: 15px;
				width: 50px;
				height: 50px;
				border-width: 6px;
			}
		}
	}
}
.feature-subpage-payment {
	.feature-subpage-box,
	.feature-subpage-hero {
		p {
			padding-bottom: 25px;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
	.feature-subpage-card p {
		font-weight: 300;
		line-height: 1.67;
	}
}