.gdpr-page-top .about-page-top__img{
  float: right;
  @include mq($max-width: 992px) {
    float: none;
    padding-bottom: 20px;
  }
}
.gdpr-page-top:before{
  display: none;
}
.gdpr__content{
  padding: 35px 0;
  color: #111111;
  font-size: 20px;
  font-weight: 300;
  @include mq($max-width: 992px) {
    font-size: 16px;
  }
  a{
    color: #e69e00;
  }
  h2, h3{
    color: #1c1c1c;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-align: center;
    padding-bottom: 60px;
    @include mq($max-width: 992px) {
      font-size: 24px;
      padding-bottom: 30px;
    }
  }
  p{
    padding-bottom: 35px;
  }
  .career-page-interest__item{
    p{
      padding-bottom: 0;
    }
  }
  .career-page-interest figure{
    top: 50%;
    transform: translateY(-50%);
  }
  .career-page-interest__item{
    padding-bottom: 0;
    margin-bottom: 18px;
  }
  .career-page-interest{
    padding-bottom: 0;
  }
}